.table_item {
  background: #fff;
  border-radius: 24px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dark {
  background: #eacdff;
}

.value {
  font-size: 40px;
  font-weight: 500;
}

.text {
  font-size: 20px;
  text-align: center;
}

