.wrapper {
  display: grid;
  grid-template-columns: 1fr auto;
  font-size: 30px;
  gap: 40px;
}

.content {
  display: grid;
  grid-template-columns:
    minmax(220px, 1fr)
    200px
    1fr
    1fr;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
  background: #cb81ff;
  border-radius: 40px;
  padding: 1.25rem;
}

.disabled {
  cursor: not-allowed;
}

.item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.delete {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 20px;
  aspect-ratio: 1 / 1;
  cursor: pointer;
}

.disabled_cell {
  opacity: 0.4;
}

.status_cell {
  justify-self: flex-end;
  text-align: end;
}

