.form {
  font-size: 35px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form p {
  margin: 0;
  align-self: center;
  text-align: center;
  font-size: 30px;
}

.dropArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 2.5rem;
  user-select: none;
  border-radius: 40px;
  background: #eacdff;
  border: 2px solid #eacdff;
  gap: 10px;
}

.dropArea.error {
  border: 2px solid #ff5f00;
  background: transparent;
}

.dropArea.dragOver {
  background: #d4fae6;
}

.submit_button {
  align-self: center;
}
