.wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  font-size: 30px;
  text-align: center;
  margin-top: 0;
}

.modal_body {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

